In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import glob
pos = open("positive_emoji_v2.csv").read().split(",")
neg = open("negative_emoji_v2.csv").read().split(",")
print("Positive emoji: {}\n\nNegative emoji: {}\n".format("".join(pos), "".join(neg)))
files = sorted(glob.glob("data/nz_tweets*.csv"))
print(files)
pd.set_option('display.max_colwidth', -1)

Positive emoji: ğŸ‘ŠğŸš‚ğŸš„ğŸŒâ˜ºï¸ğŸŒŸğŸ‘šâ›„â™”ğŸ¼ğŸ’ğŸ»ğŸ¬âœ¨ğŸ€â˜ºğŸ˜™ğŸš¤ğŸ½ğŸ¡ğŸ ğŸ’âœğŸŒ›ğŸ’ğŸŒ¾ğŸ ğŸ“£ğŸŒ‘ğŸ°ğŸºğŸ˜›ğŸ‘ğŸ™†ğŸš—ğŸŒšğŸŒ‰ğŸ‘”ğŸğŸ“ğŸ’„ğŸ’»:DâœğŸğŸ’°ğŸ“¹ğŸ˜ƒğŸ˜ğŸ¨ğŸ’’ğŸŒ¼ğŸ’‘ğŸ¤£ğŸŒ»ğŸ˜šğŸ™‹ğŸŒ½ğŸ·â™¨ğŸ’«â™›ğŸ“ğŸƒğŸš€ğŸŒğŸ˜‡ğŸ’ğŸ“ºğŸğŸšğŸ˜…ğŸ†ğŸ¥ğŸ™ğŸ’ğŸªğŸ­ğŸ¶ğŸ˜â–²ğŸ˜ºğŸ‚ğŸ˜ğŸŸğŸ‰ğŸˆğŸ¤ğŸŠğŸ‰ğŸŒ´ğŸ˜»ğŸ†—â¥ğŸ§ğŸ‘ ğŸŒ²ğŸ©ğŸ’™ğŸ„ğŸµâ˜•âš«ğŸŠâ˜¼ğŸ‚ğŸˆğŸğŸ°ğŸ’ŸğŸ’›ğŸŒ¸ğŸ“¶ğŸ±ğŸŒ:)ğŸ¶ğŸ¿ğŸ¡ğŸ˜‹ğŸ‘—âœ’ğŸ™ŒğŸ˜®ğŸ™‚ğŸŒ±ğŸ’ƒğŸ”ğŸ”ğŸ’ŒğŸ’¼ğŸŒ”ğŸ‹ğŸ‘¨ğŸš“ğŸ’–âœˆğŸ‘°ğŸ”ğŸ¦ğŸ¼ğŸ‘­ğŸ’ğŸ€ğŸ‘ğŸ”…ğŸˆğŸ’—ğŸ•ğŸ’¬â„ğŸ’ªğŸƒğŸ«ğŸ·ğŸ‡ğŸ‘–â™¬ğŸ“šğŸ¸âœ”ğŸ”­ğŸ‘¤ğŸâ˜†ğŸš¼ğŸ´ğŸ‘•ğŸ’“ğŸŒ¹â˜€ğŸŒˆğŸ˜†ğŸ’œğŸ—»ğŸ’šğŸ”†ğŸ¤ğŸ‘¯ğŸŒºğŸŒ°âœ¿ğŸ‘‘ğŸ¥§ğŸ¨ğŸŒ¿ğŸ€ğŸ˜ŠğŸ’ğŸ¸ğŸ’˜ğŸ˜˜â™©ğŸ˜‚ğŸ‘¸â…ğŸµğŸŒŠğŸ“¢ğŸ”ŠğŸ‘£ğŸŠğŸ’•ğŸ˜¸ğŸ‘«âš“ğŸŒŒğŸ‚ğŸ˜‰ğŸŒ•ğŸ‡ğŸ˜œğŸ‘œğŸ°ğŸŒ’âœŠğŸƒğŸªğŸ˜ŒğŸ§ğŸ‡â˜»ğŸŒ‡â›µğŸ§ğŸ†â™¥ğŸ‘›ğŸš¢ğŸ“â™ªğŸ£ğŸ¬ğŸ©ğŸ‘¶ğŸ””ğŸ’¡â™•ğŸš´ğŸŒ³ğŸğŸ¦ğŸš²ğŸ‘¢ğŸ¤—â™¡ğŸ˜€ğŸœğŸŒ·ğŸšµğŸšŒğŸ˜—ğŸ—½ğŸ“·ğŸ™ŠğŸ’‡ğŸªğŸ‘ŸğŸŒœğŸ‰ğŸ¤â€ğŸ’³ğŸ‘¡ğŸ‘‹ğŸ†’ğŸ‘„ğŸ‘…ğŸ‘ŒğŸ ğŸ®ğŸ©âœŒğŸ˜„ğŸ¥ğŸ¬â›³ğŸš¿ğŸŒ˜ğŸ¡ğŸµğŸŒ ğŸğŸ…ğŸš£âœ“ğŸ…ğŸŒ…ğŸ•ğŸ¹âœ…ğŸ©ğŸ†“ğŸ’‹ğŸ˜ğŸºğŸ¤©ğŸ„ğŸ¾ğŸ˜â¤ğŸ†ğŸ—¼ğŸš¨ğŸ¹ğŸ

Negative emoji: ğŸ‘¿ğŸ˜Ÿâ†ªğŸ”¨ğŸ’£ï¿½ğŸ“ğŸ’¥ğŸ¸ğŸ’‰ğŸ‘ºğŸğŸ˜µğŸ¤ğŸš›ğŸŒµğŸ˜¦ğŸ˜§ğŸ™ˆâ˜¹ğŸ‘¾:(ğŸ˜¶ğŸ˜ğŸŒšâ—â˜ ğŸœğŸ˜¢ğŸ˜ğŸ˜’ğŸ˜“ğŸ”™ğŸ™ğŸ“ŒğŸ´ğŸ˜°âœ‚ğŸ‘®ğŸ”ªğŸ˜¤ğŸ˜”ğŸ¥€âœ‹ğŸ˜¥ğŸ˜£ğŸ™‡ğŸğŸ˜­ğŸ“µğŸ˜‘ğŸ˜´â›”ğŸ”ğŸ‘ğŸ˜¿ğŸ˜²ğŸ™ğŸ˜·â©âš ğŸ˜¯âŒ›ğŸ”±ğŸ˜¡ğŸ˜±ğŸ˜•ğŸ˜¾ğŸ”“ğŸ˜ªğŸš‘ğŸ’”ğŸ²ğŸ˜ğŸ˜–ğŸ˜³ğŸ˜©ğŸ˜¬ğŸš«â“ğŸŒ‹ğŸ™ğŸ’€ğŸ˜¼ğŸ›ğŸ¤”ğŸ˜«ğŸ†˜ğŸ˜¨ğŸ˜ ğŸ‘

['data/nz_tweets_2010.csv', 'data/nz_tweets_2011.csv', 'data/nz_tweets_2012.csv', 'data/nz_tweets_2013.csv', 'data/nz_tweets_2014.csv', 'data/nz_tweets_2015.csv', 'data/nz_tweets_2016.csv', 'data/nz_tweets_2017.csv', 'data/nz_tweets_2018.csv', 'data/nz_tweets_2019.csv']

In [5]:
%%time
useful_cols = ["username", "fullname", "tweet_url", "timestamp", "text"]
for f in files:
    df = pd.read_csv(f, sep=";")
    df["tweet_url"] = "https://twitter.com" + df["tweet_url"]
    hashtags = {}
    feels = np.zeros(len(df))
    for i in range(len(df)):
        text = df.text[i]
        html = df.html[i]
        if type(text) != str:
            continue
        feel = sum([e in html for e in pos]) - sum([e in html for e in neg])
        feels[i] = feel
        for word in text.split():
            if word[0] == "#":
                if word not in hashtags:
                    hashtags[word] = 1
                else:
                    hashtags[word] += 1
    hashtags_by_popularity = sorted(hashtags.items(), key=lambda kv: kv[1], reverse=True)
    print("{} - {} tweets".format(f, len(df)))
    result_df = pd.DataFrame(hashtags_by_popularity, columns=["Hashtag", "Count"])
    display(result_df[:20])
    
    df["feels"] = feels
    
    #femin = df[df.text.str.contains(r"(?i)femin|(?i)haras ", na=False)]
    #display(femin)
    print("Positive feels: {}. Negative feels: {}".format(
        sum(feels > 0),
        sum(feels < 0)
    ))
    continue
    
    print("Positive tweets")
    display(df[df.feels > 0])
    print("Negative tweets")
    display(df[df.feels < 0])

data/nz_tweets_2010.csv - 39582 tweets

          Hashtag  Count
0   #Auckland      416
1   #Wellington    231
2   #NewZealand    185
3   #fb            134
4   #TT            114
5   #CambridgeNZ   91
6   #Christchurch  88
7   #WRCH2010      64
8   #eqnz          58
9   #rowing        54
10  #sunrise       44
11  #sunset        44
12  #FF            38
13  #chess         36
14  #nzsharefest   34
15  #LakeKarapiro  33
16  #celebrity     31
17  #fail          26
18  #Jobs          24
19  #Job           24

Positive feels: 1573. Negative feels: 228
data/nz_tweets_2011.csv - 483368 tweets

          Hashtag  Count
0   #Auckland      2977
1   #eqnz          2521
2   #Wellington    1718
3   #RWC2011       1469
4   #fb            1317
5   #rwc2011       859
6   #wellington    777
7   #weather       529
8   #Christchurch  471
9   #Rugby         380
10  #sunset        375
11  #sunrise       368
12  #RWC           353
13  #goodmorning   316
14  #AllBlacks     254
15  #deal          253
16  #FF            251
17  #quiz          236
18  #Endomondo.    234
19  #naki          222

Positive feels: 14625. Negative feels: 2681
data/nz_tweets_2012.csv - 870287 tweets

           Hashtag  Count
0   #Auckland       3269
1   #Wellington     1365
2   #fb             1281
3   #newzealand     1262
4   #eqnz           968
5   #               920
6   #wellington     825
7   #nz             723
8   #auckland       637
9   #weather        569
10  #LAAAAAAUGHING  394
11  #naki           376
12  #love           372
13  #NZ             359
14  #travel         353
15  #FF             331
16  #NZGT           319
17  #NewZealand     314
18  #summer         313
19  #photooftheday  306

Positive feels: 46868. Negative feels: 9437
data/nz_tweets_2013.csv - 1016275 tweets

             Hashtag  Count
0   #newzealand       3164
1   #darfield         3141
2   #nzweather        3133
3   #nz               2239
4   #Auckland         2134
5   #auckland         1995
6   #weather          1954
7   #xfactornz        1563
8   #wellington       1112
9   #Wellington       1029
10  #NZ               1018
11  #summer           885
12  #love             878
13  #nofilter         873
14  #1DWristbandComp  859
15  #NewZealand       854
16  #AmericasCup      849
17  #fb               831
18  #eqnz             811
19  #                 779

Positive feels: 82544. Negative feels: 17489
data/nz_tweets_2014.csv - 1112621 tweets

             Hashtag  Count
0   #gigatownwanaka   13566
1   #gigatowngis      10027
2   #gigatownpor      9058
3   #gigatownnsn      8142
4   #gigatowndun      6147
5   #nzweather        5668
6   #darfield         5664
7   #newzealand       4395
8   #gigatowndunedin  3626
9   #gigatowntim      3361
10  #Auckland         2765
11  #auckland         2605
12  #NewZealand       2463
13  #gigatownbln      2395
14  #gigatownporirua  2320
15  #nz               2310
16  #photo            1756
17  #gigatownqtn      1720
18  #GigatownWanaka   1652
19  #NZ               1442

Positive feels: 112513. Negative feels: 24846
data/nz_tweets_2015.csv - 657892 tweets

        Hashtag  Count
0   #newzealand  7934
1   #NewZealand  4107
2   #Auckland    3704
3   #auckland    3667
4   #photo       3210
5   #nz          3165
6   #NZ          2192
7   #travel      2143
8   #xfactornz   1908
9   #Wellington  1714
10  #CWC15       1671
11  #wellington  1466
12  #nofilter    1289
13  #vote5sos    1199
14  #summer      1144
15  #beach       1030
16  #queenstown  1023
17  #love        896
18  #coffee      834
19  #Queenstown  806

Positive feels: 75089. Negative feels: 11603
data/nz_tweets_2016.csv - 374298 tweets

          Hashtag  Count
0   #newzealand    13746
1   #auckland      4677
2   #nz            4321
3   #photo         3960
4   #NewZealand    2913
5   #Auckland      2701
6   #travel        2174
7   #wellington    1680
8   #queenstown    1525
9   #Wellington    1517
10  #NZ            1470
11  #newzealandâ€¦   1256
12  #beach         1185
13  #nature        1184
14  #christchurch  1162
15  #nofilter      1140
16  #summer        1000
17  #sunset        976
18  #roadtrip      790
19  #love          762

Positive feels: 42440. Negative feels: 3223
data/nz_tweets_2017.csv - 300932 tweets

         Hashtag  Count
0   #newzealand   11777
1   #auckland     4765
2   #nz           4165
3   #photo        3666
4   #travel       2699
5   #NewZealand   2204
6   #Auckland     1867
7   #wellington   1622
8   #newzealandâ€¦  1558
9   #sunset       1250
10  #nofilter     1195
11  #beach        1157
12  #nature       1038
13  #Wellington   966
14  #summer       951
15  #queenstown   930
16  #love         852
17  #coffee       846
18  #NZ           794
19  #southisland  716

Positive feels: 40012. Negative feels: 2878
data/nz_tweets_2018.csv - 202129 tweets

         Hashtag  Count
0   #newzealand   9519
1   #auckland     3370
2   #nz           2628
3   #travel       2395
4   #photo        1693
5   #NewZealand   1682
6   #wellington   1557
7   #nature       1088
8   #Auckland     1062
9   #queenstown   1009
10  #sunset       815
11  #beach        811
12  #nofilter     765
13  #love         735
14  #newzealandâ€¦  694
15  #photography  688
16  #aotearoa     660
17  #summer       609
18  #roadtrip     605
19  #NZ           604

Positive feels: 34730. Negative feels: 2121
data/nz_tweets_2019.csv - 1386910 tweets

         Hashtag  Count
0   #newzealand   7442
1   #auckland     2601
2   #nz           2353
3   #travel       2102
4   #NewZealand   1991
5   #adventure    1619
6   #theflahute   1451
7   #friends      1417
8   #TechNews     1374
9   #love         1297
10  #bike         1294
11  #hills        1292
12  #journey      1232
13  #getlost      1128
14  #NowPlaying   1090
15  #wellington   984
16  #Auckland     916
17  #nature       897
18  #singletrack  896
19  #foodporn     871

Positive feels: 169441. Negative feels: 38899
CPU times: user 11min 18s, sys: 4.25 s, total: 11min 22s
Wall time: 11min 34s